<tr>
  <td><%= company_size.name %></td>
  <td><%= company_size.description %></td>
  <td><%= company_size.score %></td>
  <td><%= l company_size.created_at, scope: [:resource] %></td>
  <td>
    <%= edit_resource edit_admin_company_size_path(company_size) %>
    <%= remove_resource admin_company_size_path(company_size), {}%>
  </td>
</tr>
