<%= simple_form_for [:admin, @sector] , html: {class: 'form'} do |f| %>

  <section class='fields-wrapper one-column'>
    <header>
      <h2><%= "#{@sector.persisted? ? 'Editar' : 'Criar'} Setor" %></h2>
    </header>
    
    <article>
      <%= f.input :code, wrapper_html: {class: 'col-2' } %>
      <%= f.input :name, wrapper_html: {class: 'col-10' } %>
      <%= f.input :description, wrapper_html: {class: 'col-12' } %>
      <%= f.input :nickname, wrapper_html: {class: 'col-12' } %>
      <%= f.input :score, wrapper_html: {class: 'col-12' } %>
    </article>
  </section>
  <footer>
    <%= cancel_action(path: admin_sectors_path) %>
    <%= submit_button f %>
  </footer>
<% end %>
