<tr>
  <td><%= mode.name %></td>
  <td><%= mode.description %></td>
  <td><%= l mode.created_at, scope: [:resource] %></td>
  <td>
    <%= edit_resource edit_admin_mode_path(mode) %>
    <%= remove_resource admin_mode_path(mode), {}%>
  </td>
</tr>
