<section id="home" class="content with-menu">
  <section class="content-box">
    <article class="complete-profile-advice border-bottom">
      <h4 class="light-green-text bold main-title">
        <%= candidate_welcome_message(current_candidate) %>
      </h4>
    </article>

    <article class="default-sector sector-infos border-bottom">
      <div class="section-header">
        <i class="gray material-icons">domain</i>
        <h4 class="gray">Setor</h3>
      </div>

      <div class="section-content">
        <% @sectors.each do |sector| %>
          <p class="gray bold">
            <%= sector.name %><br>
            <%= sector.description.upcase %>
          </p>
        <% end %>
      </div>
    </article>

    <article class="default-sector company-size-infos border-bottom">
      <div class="section-header">
        <i class="gray material-icons">domain</i>
        <h4 class="gray">Porte</h3>
      </div>

      <div class="section-content">
        <% @company_sizes.each do |size| %>
          <p class="gray bold">
            <%= "#{size.name}: #{size.description.upcase}" %>
          </p>
        <% end %>
      </div>
    </article>

    <article class="default-sector mode-infos border-bottom">
      <div class="section-header">
        <div class="img-box">
          <%= image_tag 'icons/targeting.svg' %>
        </div>
        <h4 class="gray">Estilo</h3>
      </div>

      <div class="section-content">
        <% @modes.each do |mode| %>
          <p class="gray bold">
            <%= "#{mode.name}: #{mode.description.upcase}" %>
          </p>
        <% end %>
      </div>
    </article>

    <article class="default-sector interest-locale-info">
      <div class="section-header">
        <div class="img-box">
          <%= image_tag 'icons/targeting.svg' %>
        </div>
        <h4 class="gray">Localização</h3>
      </div>

      <div class="section-content">
        <% @city_locales.each do |locale| %>
          <p class="gray bold">
            <%= locale.name.upcase %>
            <br />
            <%locale.neighborhoods.where(id: @candidate.candidate_interest.neighborhoods).each do |neighborhood|%>
              <p class="gray">
                <%= neighborhood.name.upcase %>
              </p>
            <% end -%>
          </p>
        <% end %>
      </div>
    </article>
  </section>
</section>
