<section id="candidate_profile">
  <section class="main-infos-wrapper">
    <section class="main-infos">
      <article class="profile-image-container">
        <%= form_for(current_candidate, url: candidate_update_profile_path, :method => :POST) do |f| %>
          <label for="candidate_candidate_avatar">
            <%= f.file_field :candidate_avatar %>
            <%= candidate_avatar(current_candidate)%>
          
            <div class="mask">
              <p>Alterar imagem</p>
            </div>
          </label>

          <%= f.submit "Atualizar imagem", data:{disable_with: '...'}  %>
        <% end %>
      </article>

      <article class="profile-infos">
        <div class="info-icons">
          <i class="material-icons">person</i>
          <i class="material-icons">email</i>
          <i class="material-icons">stay_current_portrait</i>
        </div>

        <div class="info-content">
          <p>
            <%= current_candidate.name %>
          </p>

          <p>
            <%= current_candidate.email %>
          </p>

          <p>
            <%= current_candidate.cellphone %>
          </p>
        </div>
      </article>

      <article class="curriculum-box">
        <%= form_for(current_candidate, url: candidate_update_profile_path, :method => :POST) do |f| %>
          <%= f.file_field :candidate_curriculum %>
          <%= link_to current_candidate.candidate_curriculum.url, target: "_blank" do %>
            <i class="icon ion-md-document"></i> 
          <% end %>

          <% if current_candidate.candidate_curriculum.url.present? %>
            <%= link_to "Visualizar currículo", current_candidate.candidate_curriculum.url, target: "_blank", :class => "curriculum-link" %>
          <% end %>
          
          <label for="candidate_candidate_curriculum">Anexar CV</label>
          
          <%= f.submit "Enviar currículo", data:{disable_with: '...'}  %>
        <% end %>
      </article>
    </section>
  </section>

  <section class="profile-control-panel">
    <!-- <article class="profile-info-advise">
      <h5 class="light-green-text">
        Fique tranquilo!
      </h5>

      <p class="light-green-text">
        Somente empresas que fazem sentido e 
        com real interesse em seu perfil podem 
        acessar suas informações.
      </p>
    </article> -->
    
    <%= form_for(current_candidate, url: candidate_update_profile_path, :method => :POST) do |f| %>
      <article class="new-challenges">
        <div class="article-header">
          <h6>Avalie novos desafios</h6>

          <div class="switch">
            <%= f.label "new_challenges" do %>
              <%= f.check_box :new_challenges %>
              <span class="lever"></span>
            <% end %>
          </div>
        </div>

        <p>
          *Nenhuma empresa pode visualizar seu perfil
        </p>
      </article>

      <article class="employed">
        <div class="article-header">
          <h6>Estou empregado</h6>

          <div class="switch">
            <%= f.label "employed" do %>
              <%= f.check_box :employed %>
              <span class="lever"></span>
            <% end %>
          </div>
        </div>

        <div class="article-content">
          <div class="corporate-email">
            <%= f.text_field :corporate_email, placeholder: "Email corporativo" %>
          </div>
          
          <div class="profile-submit-box">
            <p>
              *O e-mail é necessário para evitar que sua empresa atual visualize seu perfil
            </p>

            <%= f.submit "Salvar", data:{disable_with: '...'}  %>
          </div>
        </div>
      </article>
    <% end %>
  </section>

  <%= link_to destroy_candidate_session_path, method: :delete, data: {confirm: 'Deseja sair?'}, :class => "exit-responsive-button" do %>
    <!-- SIGNOUT LINK -->
    <div class="icon-box">
      <%= image_tag 'icons/logout.svg' %>
    </div>

    <p>Sair</p>
  <% end %>
</section>