<div class="full-divider"></div>

<section id="candidate-list-process" class="content">
  <div class="title-list">
    <h4 class="bold light-green-text">Em Processo</h4>
  </div>

  <div class="list-container">
    <ul>
      <li class="list-item">
        <%= link_to "#" do %>
          <div class="candidate-info">
            <p>Planejamento Financeiro - Gerente</p>
            <p>João da Silva - 1a Etapa</p>
          </div>

          <div class="feedback-button-box">
            <button>Feedback</button>
          </div>
        <% end %>
      </li>

      <li class="list-item">
        <%= link_to "#" do %>
          <div class="candidate-info">
            <p>Planejamento Financeiro - Gerente</p>
            <p>João da Silva - 1a Etapa</p>
          </div>

          <div class="feedback-button-box">
            <button>Feedback</button>
          </div>
        <% end %>
      </li>

      <li class="list-item">
        <%= link_to "#" do %>
          <div class="candidate-info">
            <p>Planejamento Financeiro - Gerente</p>
            <p>João da Silva - 1a Etapa</p>
          </div>

          <div class="feedback-button-box">
            <button>Feedback</button>
          </div>
        <% end %>
      </li>

      <li class="list-item">
        <%= link_to "#" do %>
          <div class="candidate-info">
            <p>Planejamento Financeiro - Gerente</p>
            <p>João da Silva - 1a Etapa</p>
          </div>

          <div class="feedback-button-box">
            <button>Feedback</button>
          </div>
        <% end %>
      </li>

      <li class="list-item">
        <%= link_to "#" do %>
          <div class="candidate-info">
            <p>Planejamento Financeiro - Gerente</p>
            <p>João da Silva - 1a Etapa</p>
          </div>

          <div class="feedback-button-box">
            <button>Feedback</button>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</section>