<%= simple_form_for [:admin, @area, @function, @hability] , html: {class: 'form'} do |f| %>

  <section class='fields-wrapper one-column'>
    <header>
      <h2><%= "#{@hability.persisted? ? 'Editar' : 'Criar'} Habilidade" %></h2>
    </header>
    
    <article>
      <%= f.input :name, wrapper_html: {class: 'col-12' } %>
    </article>
  </section>
  <footer>
    <%= cancel_action(path: admin_area_function_habilities_path(@area, @function)) %>
    <%= submit_button f %>
  </footer>
<% end %>
