<section id="company_candidate_profile" data-candidate-id="<%= @candidate.id %>">
  <div id="order-modal">
    <h4 class="light-green-text">
      <b>Ordenar Por:</b>
    </h4>

    <ul>
      <li>
        Maior Remuneração Anual
      </li>

      <li>
        Menor Remuneração Anual
      </li>

      <li>
        Maior Remuneração Mensal
      </li>

      <li>
        Menor Remuneração Mensal
      </li>

      <li>
        Maior Tempo de Carreira
      </li>

      <li>
        Menor Tempo de Carreira
      </li>
    </ul>
  </div>

  <%= link_to "#order-modal", :class => "fancybox" do %>
    <i class="material-icons order-by-icon">filter_list</i>
  <% end %>

  <article class="candidate-contact-infos">
    <div class="top-infos">
      <div class="button-box">
        <% if @candidate_process_selection.ignored? %>
          <button>Recuperar</button>
        <% end %>
      </div>

      <div class="main-infos">
        <h4><%= @candidate.name  %></h4>
        <h4><%= @manager.current_position %></h4>
        <p class="description">
          Promoção em até três anos seria a resposta
        </p>
      </div>

      <div class="button-box-responsive">
        <% if @candidate_process_selection.ignored? %>
          <button>Recuperar</button>
        <% end %>
      </div>

      <%= select_tag 'candidate_profile[status]', options_for_select([["interessado", :first_level], ["1a Etapa", :second_level], ["2a Etapa", :third_level], ["Última Etapa", :fourth_level], ["Proposta", :received_proposal], ["Aprovados", :accepted_proposal]], selected: @candidate_process_selection.state), :class => "validate", :include_blank => true %>
    </div>
  </article>

  <section class="candidate-complete-infos">
    <section class="candidate-carrer-experience-info-container default-container small-size border-bottom">
      <h5 class="title-area-left bold gray">
        <%=t :total, scope: [:candidate, :carrier], count: @manager.carrier_total_years %>
      </h5>
      <div class="candidate-carrer-experience-info shadow-box">
        <% @manager.carrier_detailed.each do |carrier| %>
          <div class="candidate-title-box first-box">
              <p class="bold"><%= carrier[:title] %></p>

              <div class="candidate-experience-level active">
                <p class="white-text"><%= carrier[:years] %>.<%= carrier[:months] %></p>
              </div>
            </div>
        <% end -%>
        <!-- <div class="candidate-title-box first-box">
          <p class="bold">Analista</p>

          <div class="candidate-experience-level active">
            <p class="white-text">3.2</p>
          </div>
        </div>

        <div class="candidate-title-box second-box">
          <p class="bold">
            ESPECIALISTA<br>
            CONSULTOR
          </p>

          <div class="candidate-experience-level active">
            <p class="white-text">3.4</p>
          </div>
        </div>

        <div class="candidate-title-box third-box">
          <p class="bold">
            COORDENADOR<br>
            GERENTE
          </p>

          <div class="candidate-experience-level active">
            <p class="white-text">6.1</p>
          </div>
        </div>

        <div class="candidate-title-box fourth-box">
          <p class="bold">
            GERENTE SR.<br>
            DIRETOR
          </p>

          <div class="candidate-experience-level">
            <p class="white-text">

            </p>
          </div>
        </div> -->
      </div>
    </section>


    <section class="candidate-companies-info-container default-container small-size border-bottom">
      <h5 class="title-area-left bold gray">
        Empresas mais relevantes
      </h5>
      <div class="candidate-companies-info shadow-box">
        <div class="relevant-companies">
          <% @manager.company_list.each do |company| %>
            <div class="candidate-company-box">
              <p class="bold"><%= company[:name] %></p>

              <div class="candidate-company-time">
                <p>3.2</p>
              </div>
            </div>
          <% end %>
          <!-- <div class="candidate-company-box first-box">
            <p class="bold">BAYER</p>

            <div class="candidate-company-time">
              <p>3.2</p>
            </div>
          </div>

          <div class="candidate-company-box second-box">
            <p class="bold">NEOQUÍMICA</p>

            <div class="candidate-company-time">
              <p>3.4</p>
            </div>
          </div>

          <div class="candidate-company-box third-box">
            <p class="bold">NESTLÉ</p>

            <div class="candidate-company-time">
              <p>6.1</p>
            </div>
          </div>

          <div class="candidate-company-box fourth-box active">
            <p class="bold">TAM</p>

            <div class="candidate-company-time">
              <p>5.4</p>
            </div>
          </div>

          <div class="candidate-company-box fifth-box active">
            <p class="bold">VIVO</p>

            <div class="candidate-company-time">
              <p>5.4</p>
            </div>
          </div>
        </div> -->
      </div>

      <p class="compatibility-with-company-size active">
        <span>•</span>
        Experiência no porte da sua empresa
      </p>
    </section>


    <section class="candidate-main-functions default-container">
      <div class="title-area">
        <h5 class="bold gray">
          Principais funções e onde agrega mais valor
        </h5>

        <i class="material-icons">history</i>
      </div>

      <article class="functions-and-languages">
        <div class="candidate-functions">
          <% @manager.function_list.each_with_index do |function, index| %>
            <div class="function-item">
              <p class="bold">
                <%= function.upcase %>
              </p>

              <p>
                2.1
              </p>
            </div>
          <% end %>
          <!-- <div class="function-item company-require-match">
            <p class="bold">
              PLANEJ. FINANCEIRO
            </p>

            <p>
              3.2
            </p>
          </div> -->

          <!-- <div class="function-item">
            <p class="bold">
              AUDITORIA
            </p>

            <p>
              2.1
            </p>
          </div>

          <div class="function-item">
            <p class="bold">
              CONTROLES INTERNOS
            </p>

            <p>
              3.6
            </p>
          </div>

          <div class="function-item">
            <p class="bold">
              TAX
            </p>

            <p>
              4.0
            </p>
          </div>

          <div class="function-item">
            <p class="bold">
              CONTABILIDADE
            </p>

            <p>
              1.0
            </p>
          </div> -->
        </div>

        <div class="candidate-languages">

          <% @manager.language_list.each do |language| %>
            <div class="language-item company-require-match">
              <p class="bold">
                <%= language[:name] %>
              </p>

              <div class="language-level">
                <div class="circle <%=  language[:level] > 0 ? :active : ''%>"></div>
                <div class="circle <%=  language[:level] > 1 ? :active : ''%>"></div>
                <div class="circle <%=  language[:level] > 2 ? :active : ''%>"></div>
              </div>
            </div>
          <% end -%>

          <!-- <div class="language-item company-require-match">

            <p class="bold">
              ESPANHOL
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle active"></div>
              <div class="circle active"></div>
            </div>
          </div>

          <div class="language-item">
            <p class="bold">
              PORTUGUÊS
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div>

          <div class="language-item">
            <p class="bold">
              ITALIANO
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div>

          <div class="language-item company-require-match">
            <p class="bold">
              INGLÊS
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div> -->
        </div>
      </article>
    </section>

    <section class="interest-infos-container default-container">
      <h5 class="bold gray">
        Motivação para considerar a sua empresa
      </h5>

      <div class="candidate-interest-infos shadow-box">
        <div class="left-infos">
          <div class="localization">
            <div class="circle <%=  @manager.relevance_list.include?('LOCALIZAÇÃO') ? :active : ''%>"></div>
            <p class="semi-bold">Localização</p>
          </div>

          <div class="size">
            <div class="circle <%=  @manager.relevance_list.include?('PORTE DA EMPRESA') ? :active : ''%>""></div>
            <p class="semi-bold">Porte</p>
          </div>

          <div class="sector">
            <div class="circle <%=  @manager.relevance_list.include?('SETOR DE ATUAÇÃO') ? :active : ''%>"></div>
            <p class="semi-bold">Setor</p>
          </div>
        </div>

        <div class="company-extra-infos">
          <p>
            Meio Período/Tempo Integral/Por Projetos
          </p>
        </div>

        <div class="right-infos">
          <p class="semi-bold">Remuneração a partir de:</p>

          <div class="company-salary">
            <p class="bold">
              <%= number_to_currency(@manager.pretension_list[:anual])%>/ano
            </p>
          </div>
        </div>

        <div class="bottom-infos">
          <div class="extra-salary-infos">
            <p class="white-text">
              O VALOR PRETENDIDO CORRESPONDE A UM ACRÉSCIMO / DECRÉSCIMO DE XX % FIXO MENSAL E XX % ANUAL
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <div class="contact-actions hidden">
    <div class="contact-actions-box">
      <div class="item-box">
        <i class="material-icons">stay_current_portrait</i>
      </div>

      <div class="item-box">
        <i class="material-icons">mail_outline</i>
      </div>

      <div class="item-box">
        <i class="material-icons">insert_drive_file</i>
      </div>

      <div class="item-box">
        <i class="material-icons">forum</i>
      </div>
    </div>
  </div>

  <div class="candidate-contact-actions-container">
    <button class="action-button">
      <%= image_tag "icons/candidate_info_white.svg" %>
    </button>
  </div>
</section>
