<section id="fifth_step" class="question-container content">
  <%= form_tag({controller: "experience", action: "sixth"}, method: "post", id: "candidate_fifth") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 65%"></div>
          </div>

          <h5 class="center-align section">Qual foi seu tempo de experiência total nessas funções?</h5>
        </li>
        <% @function.each_with_index do |function, index| %>
          <li class="collection-item with-select">
            <p>
              <label>
                <span><%= function.name %></span>
              </label>
            </p>

            <%= hidden_field_tag("candidate_experience[candidate_experience_function][][function_id]", {}, value: function.id) %>
            <%= select_tag 'candidate_experience[candidate_experience_function][][years]', options_for_select(@years, selected: @candidate_experience.functions_time_period.present? && @candidate_experience.functions_time_period[index].present? ? @candidate_experience.functions_time_period[index].years : false), :class => "custom" %>
            <p class="separator-responsive-label"><label>E</label></p>
            <%= select_tag 'candidate_experience[candidate_experience_function][][months]', options_for_select(@months, selected: @candidate_experience.functions_time_period.present? && @candidate_experience.functions_time_period[index].present? ? @candidate_experience.functions_time_period[index].months : false), :class => "custom" %>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_4_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_fifth').submit()" %>
    </section>
  <% end %>
</section>