<section id="fifth_step" class="question-container content experience-step">
  <%= form_tag({controller: "experience", action: "sixth"}, method: "post", id: "candidate_fifth") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 65%"></div>
          </div>

          <h5 class="center-align section">Por quanto tempo?</h5>
        </li>
        <% @function.each_with_index do |function, index| %>
          <li class="collection-item with-select">
            <p>
              <label>
                <span><%= function.name %></span>
              </label>
            </p>

            <%= hidden_field_tag("candidate_experience[candidate_experience_function][][function_id]", {}, value: function.id) %>

            <div class="select-box-with-error">
              <% value      =  @candidate_experience.candidate_experience_functions.present? && @candidate_experience.candidate_experience_functions[index].present? ? @candidate_experience.candidate_experience_functions[index].percentage : "" %>

              <%= select_tag "candidate_experience[candidate_experience_function][][percentage]", options_for_select(@array_list, value), {include_blank: true, class: 'half-input validate experience-percentage'} %>
              <p class="error-message hide">Obrigatório</p>
            </div>
          </li>
        <% end %>
        <li class="collection-item with-select">
          <p>
            <label>
              <span>Outros</span>
            </label>
          </p>

          <div class="select-box-with-error">
            <%= select_tag "candidate_experience[others_percentage]", options_for_select(@array_list, @candidate_experience.present? && @candidate_experience.others_percentage.present? ? @candidate_experience.others_percentage : ""), {include_blank: true, class: 'half-input validate experience-percentage'} %>
            <p class="error-message hide">Obrigatório</p>
          </div>
        </li>
        <li class="collection-item experience-calc-result">
          <p><label class='percentage-sum-text'>&nbsp;</label><p>
          <p>
            <label>
              <span>
                TOTAL
              </span>
            </label>
          </p>

          <div class="box-with-error">
            <%= text_field "candidate_experience", "total_functions_percentage", placeholder: "0%", class: "half-input", readonly: true %>

            <p class="error-message limit hide">A soma deve ser 100%</p>
          </div>
        </li>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_4_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_fifth').submit()", id: "form-button", disabled: true %>
    </section>
  <% end %>
</section>
