<section id="first_step" class="question-container content experience-step">
  <%= form_tag({controller: "experience", action: "second"}, method: "post", id: "candidate_first") do %>
    <section class="content-box validate-radio-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress">
            <div class="determinate" style="width: 15%"></div>
          </div>

          <h5 class="center-align section">Qual o seu cargo atual?</h5>
        </li>

        <% @title_list.each do |title_list| %>
          <li class="collection-item">
            <p>
              <label>
                <%= radio_button_tag "candidate_experience[current_title]", title_list.id, (@candidate_experience && @candidate_experience.current_title == title_list.id) ? true : false, class: "with-gap validate" %>
                <span><%= title_list.name %></span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
      <p class="radio-error-message hide">Favor preencher algum dos campos</p> 
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_home_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large radio-validate", id: "validate-form-button", data: {with_radios: 'true'} %>
    </section>
  <% end %>
</section>
