<section id="second_step" class="question-container content experience-step">
  <%= form_tag({controller: "experience", action: "third"}, method: "post", id: "candidate_second") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 25%"></div>
          </div>

          <h5 class="center-align section">Como est치 distribuido seu tempo total de carreira:</h5>
        </li>

        <% @titles.each_with_index do |title, index| %>
          <li class="collection-item with-select">
            <p>
              <label>
                <span><%= title.name %></span>
              </label>
            </p>
            
            <div class="experience-box-item">
              <%= hidden_field_tag("candidate_experience[candidate_experience_titles][][title_id]", {}, value: title.id) %>
              <div class="select-box-with-error">
                <%= select_tag 'candidate_experience[candidate_experience_titles][][years]', options_for_select(@years, selected: @candidate_experience.title_experiences.present? && @candidate_experience.title_experiences[index].present? ? @candidate_experience.title_experiences[index].years : false), :class => "years custom validate", :include_blank => true %>
                <p class="error-message hide">Obrigat칩rio</p>
              </div>

              <p class="separator-responsive-label"><label>E</label></p>

              <div class="select-box-with-error">
                <%= select_tag 'candidate_experience[candidate_experience_titles][][months]', options_for_select(@months, selected: @candidate_experience.title_experiences.present? && @candidate_experience.title_experiences[index].present? ? @candidate_experience.title_experiences[index].months : false), :class => "months custom validate", :include_blank => true %>
                <p class="error-message hide">Obrigat칩rio</p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </section>

    <div class="observation-box">
      <p class="medium-gray">
        <strong>Obs:</strong> <span class='total-years-sum'></span>
      </p>
    </div>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_1_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Pr칩ximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large next-step", id: "validate-form-button" %>
    </section>
  <% end %>
</section>
