<section id="second_step" class="question-container content">
  <%= form_tag({controller: "experience", action: "third"}, method: "post", id: "candidate_second") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 25%"></div>
          </div>

          <h5 class="center-align section">Como está distribuido seu tempo total de carreira nas posições abaixo:</h5>
        </li>

        <% @titles.each_with_index do |title, index| %>
          <li class="collection-item with-select">
            <p>
              <label>
                <span><%= title.name %></span>
              </label>
            </p>

            <%= hidden_field_tag("candidate_experience[candidate_experience_titles][][title_id]", {}, value: title.id) %>
            <%= select_tag 'candidate_experience[candidate_experience_titles][][years]', options_for_select(@years, selected: @candidate_experience.title_experiences.present? && @candidate_experience.title_experiences[index].present? ? @candidate_experience.title_experiences[index].years : false), :class => "custom", :include_blank => true %>
            <p><label>E</label></p>
            <%= select_tag 'candidate_experience[candidate_experience_titles][][months]', options_for_select(@months, selected: @candidate_experience.title_experiences.present? && @candidate_experience.title_experiences[index].present? ? @candidate_experience.title_experiences[index].months : false), :class => "custom", :include_blank => true %>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_1_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_second').submit()" %>
    </section>
  <% end %>
</section>