<section id="seventh_step" class="question-container content" data-min="1" data-max="5">
  <div class="max-option-notice">
    <p class="gray bold">Você já atingiu o número máximo de opções</p>
  </div>
  <%= form_tag({controller: "experience", action: "complete"}, method: "post", id: "candidate_seventh") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 95%"></div>
          </div>

          <h5 class="center-align section">Que outras funções você consideraria?</h5>
        </li>
        <% @function.each do |function| %>
          <li class="collection-item">
            <p>
              <label>
                <%= check_box_tag "candidate_experience[considered_functions][]", function.id, false, class: "with-gap" %>
                  <span>
                    <%= function.name %>:
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_6_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large next-step disabled", onclick: "$('#candidate_seventh').submit()" %>
    </section>
  <% end %>
</section>