<!-- OLD SIXTH STEP -->

<section id="sixth_step" class="question-container content experience-step" data-min="0" data-max="5">
  <div class="max-option-notice">
    <p class="gray bold">Você já atingiu o número máximo de opções</p>
  </div>
  <%= form_tag({controller: "experience", action: "seventh"}, method: "post", id: "candidate_sixth") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 77%"></div>
          </div>

          <h5 class="center-align section">Em um próximo passo você descartaria alguma destas funções?</h5>
        </li>
        <% @function.each do |function| %>
          <li class="collection-item">
            <p>
              <label>
                <%= hidden_field_tag "candidate_experience[disconsidered_functions][]", nil %>
                <%= check_box_tag "candidate_experience[disconsidered_functions][]", function.id, @candidate_experience.disconsidered_functions.include?(function.id) ? true : false, class: "with-gap" %>
                  <span>
                    <%= function.name %>
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <div class="observation-box">
      <p class="medium-gray">
        <strong>Obs:</strong> Se você considera oportunidades em todas estas áreas clique em PRÓXIMO
      </p>
    </div>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_5_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large next-step", onclick: "$('#candidate_sixth').submit()" %>
    </section>
  <% end %>
</section>