<section id="fifth_step" class="question-container content experience-step">
  <%= form_tag({controller: "experience", action: "seventh"}, method: "post", id: "candidate_sixth") do %>
    <section class="content-box validate-radio-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 65%"></div>
          </div>

          <h5 class="center-align section">Qual é a mais atual?</h5>
        </li>
        <% @function.each do |function| %>
          <li class="collection-item">
            <p>
              <label>
                <%= radio_button_tag "candidate_experience[last_function]", function.id, (@candidate_experience && @candidate_experience.last_function == function.id) ? true : false, class: "with-gap validate" %>
                <span>
                  <%= function.name %>
                </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
      <p class="radio-error-message hide">Favor preencher algum dos campos</p> 
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_4_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large radio-validate", id: "validate-form-button", data: {with_radios: 'true'} %>
    </section>
  <% end %>
</section>
