<section id="third_step" class="question-container content" data-min="1" data-max="3">
  <div class="max-option-notice">
    <p class="gray bold">Você já atingiu o número máximo de opções</p>
  </div>
  <%= form_tag({controller: "experience", action: "fourth"}, method: "post", id: "candidate_third") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress">
            <div class="determinate" style="width: 37%"></div>
          </div>
          <h5 class="center-align section">Em quais áreas você tem maior experiência?</h5>
        </li>

        <% @area.each do |area| %>
          <li class="collection-item">
            <p>
              <label>
                <%= check_box_tag "candidate_experience[areas][]", area.id, @candidate_experience.areas.include?(area.id) ? true : false, class: "with-gap" %>
                  <span>
                    <%= area.name %><br>
                    <% area.functions.each do |functions| %>
                      <strong><%= functions.name %> |</strong>
                    <% end %>
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_experience_step_2_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large next-step #{@candidate_experience.areas.empty? ? 'disabled' : ''}", onclick: "$('#candidate_third').submit()" %>
    </section>
  <% end %>
</section>