<section id="first_step" class="question-container content habilities-container" data-max="1">
  <%= form_tag({controller: "hability", action: "complete"}, method: "post", id: "habilities_first") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 85%"></div>
          </div>

          <h5 class="center-align section">Das experiências anteriores onde você se destaca?</h5>
        </li>

        <% @functions.each do |functions| %>
          <div class="hability-function-item-block">
            <li class="function-list-item collection-item">
              <label class="function-name">
                <span><%= functions.name %></span>
                <i class="icon ion-md-arrow-dropright"></i>
              </label>
            </li>

            <div class="list-function-hability hidden">
              <% functions.habilities.each do |hability| %>
                <li class="collection-item">
                  <p>
                    <label>
                      <%= check_box_tag "candidate_hability[habilities][]", hability.id, (@candidate_hability.present? && @candidate_hability.habilities.include?(hability.id) ? true : false), class: "with-gap" %>
                        <span>
                            <strong><%= hability.name %></strong>
                        </span>
                    </label>
                  </p>
                </li>
              <% end %>

              <li class="collection-item action-item">
                <%= link_to "Pronto", 'javascript:void(0);', class: "waves-effect waves-light btn-small next-area disabled"%>
              </li>
            </div>
          </div>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_company_step_2_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large next-step", onclick: "$('#habilities_first').submit()" %>
    </section>
  <% end %>
</section>
