<section id="second_step" class="question-container content education-step">
  <%= form_tag({controller: "education", action: "complete"}, method: "post", id: "candidate_second") do %>
    <section class="content-box">
      <ul class="collection with-header language-form">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 40%"></div>
          </div>

          <h5 class="center-align section">Qual é o seu nível com relação aos idiomas:</h5>
        </li>
        
        <div class="language-item">
          <% @candidate_education_languages.each_with_index do |candidate_language, index| %>
            <%= hidden_field_tag("candidate_education_languages[#{index}][id]", {}, value: candidate_language.id) %>
            <li class="collection-item">
              <%= select_tag "candidate_education_languages[#{index}][language_id]", options_for_select(@language.collect{ |language| [language.name, language.id] }, selected: candidate_language.language_id), :class => "custom", :include_blank => true %>

              <div class="language-level-box">
                <% @language_level.each do |language_level| %>
                  <p>
                    <label>
                      <%= radio_button_tag "candidate_education_languages[#{index}][language_level_id]", language_level.id, candidate_language.language_level_id == language_level.id ? true : false, class: "with-gap" %>
                        <span>
                          <%= language_level.name %>
                        </span>
                    </label>
                  </p>
                <% end %>
              </div>
            </li>
          <% end %>
        </div>
        
        <div class="list-item-options">
          <button id="btn-minus-language" class="btn-options <%= @candidate_education_languages.count == 1 ? 'hide' : '' %> waves-effect waves-light btn-large grey">
            <i class="material-icons">remove_circle</i>
          </button>
          <button id="btn-plus-language" class="btn-options waves-effect waves-light btn-large grey">
            <i class="material-icons">add_circle </i>
          </button>
        </div>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_education_step_1_path, class: "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_second').submit()" %>
    </section>
  <% end %>
</section>