<%= simple_form_for [:admin, @sector, @subsector] , html: {class: 'form'} do |f| %>

  <section class='fields-wrapper one-column'>
    <header>
      <h2><%= "#{@sector.persisted? ? 'Editar' : 'Criar'} Subsetor" %></h2>
    </header>
    
    <article>
      <%= f.input :name, wrapper_html: {class: 'col-10' } %>
    </article>
  </section>
  <footer>
    <%= cancel_action(path: admin_sector_subsectors_path) %>
    <%= submit_button f %>
  </footer>
<% end %>
