<section id="login_or_register" class="content">
  <div class="cloud-bg">
    <p class="bold light-green-text">
      Conheça as pessoas<br>
      interessadas em trabalhar com você
    </p>
  </div>

  <section class="content-box content-container">
    <%#= form_tag({controller: "steps", action: "terms"}, method: "post", id: "login_or_register_form") do %>
    <%= simple_form_for(@company, as: :company, url: company_terms_url, defaults: {label: false}, html: { method: :post, id: "login_or_register_form"}) do |f| %>
      <section class="content-box">
        <!-- <% if flash[:notice] %>
          <div id="notice-wrapper">
            <p class="notice"><%= notice %></p>
          </div>
        <% end %> -->

        <div class="input string required candidate_name field_with_errors">
          <%= f.input :email, required: true, autofocus: true, placeholder: "EMAIL CORPORATIVO" %>
        </div>

        <div class="input string required candidate_name field_with_errors">
          <%= f.input :cpf_cnpj, required: true, placeholder: "CPF OU CNPJ", input_html: { class: "cpf_cnpj" } %>
        </div>

        <div class="input string required candidate_name field_with_errors">
          <%= f.input :password, placeholder: "SENHA", required: true %>
        </div>


        <%= link_to "RECUPERAR SENHA", "#{}" %>
      </section>
    <% end %>
  </section>

  <section class="login-or-register-actions action-buttons-duo">
    <%= link_to "SAIBA MAIS", "#{}", :class => 'waves-effect waves-light btn-default gray-default bold' %>
    <%= link_to "CONTINUAR", 'javascript:void(0);', :class => 'waves-effect waves-light btn-default green-default bold', :onclick => "$('#login_or_register_form').submit()" %>
  </section>
</section>
