<section id="fifth_step" class="question-container content">
  <%= form_tag({controller: "interest", action: "complete"}, method: "post", id: "candidate_fifth") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 95%"></div>
          </div>

          <h5 class="center-align section">O que é mais importante pra você?</h5>
        </li>
        <% @relevance.each do |relevance| %>
          <li class="collection-item">
            <p>
              <label>
                <%= radio_button_tag "candidate_interest[relevances][]", relevance.id, @candidate_interest.relevances.include?(relevance.id) ? true : false, class: "with-gap" %>
                  <span>
                    <%= relevance.name %>
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_interest_step_4_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', :class => "waves-effect waves-light btn-large", :onclick => "$('#candidate_fifth').submit()" %>
    </section>
  <% end %>
</section>