<section id="first_step" class="question-container content">
  <%= form_tag({controller: "interest", action: "second"}, method: "post", id: "candidate_first") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 15%"></div>
          </div>

          <h5 class="center-align section">Qual a sua localização de interesse?</h5>
        </li>
        <% @city.each do |city| %>
          <div class="interest-locale-item-block">
            <li class="city-list-item collection-item">
              <label class="city-name">
                <span><%= city.name %></span>
              </label>
            </li>

            <div class="list-city-locale hidden">
              <% city.city_locales.each do |city_locale| %>
                <ul class="city-locale-item-block">
                  <li class="city-locale-item collection-item">
                    <p>
                      <label class="city-locale-name">
                        <span><%= city_locale.name %></span>
                        <i class="icon ion-md-arrow-dropright"></i>
                      </label>
                    </p>
                  </li>
                  <div class="list-neighborhood hidden">
                    <ul>
                      <% city_locale.neighborhoods.each do |neighborhood| %>
                        <li class="collection-item">
                          <p>
                            <label>
                              <%= check_box_tag "candidate_interest[neighborhoods][]", neighborhood.id, @candidate_interest.neighborhoods.include?(neighborhood.id) ? true : false, class: "with-gap" %>
                              <span><%= neighborhood.name %></span>
                            </label>
                          </p>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </ul>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", @link_url, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', :class => "waves-effect waves-light btn-large", :onclick => "$('#candidate_first').submit()" %>
    </section>
  <% end %>
</section>