<section id="first_step" class="question-container content" data-min="1">
  <%= form_tag({controller: "interest", action: "second"}, method: "post", id: "candidate_first") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 15%"></div>
          </div>

          <h5 class="center-align section">Onde você quer trabalhar?</h5>
        </li>
        
        <% @city.each do |city| %>
          <div class="interest-locale-item-block">
            <li class="city-list-item collection-item">
              <label class="city-name">
                <span><%= city.name %></span>
              </label>
            </li>

            <div class="list-city-locale">
              <% city.city_locales.each do |city_locale| %>
                <ul class="city-locale-item-block">
                  <li class="city-locale-item collection-item">
                    <p>
                      <label class="city-locale-name">
                        <span><%= city_locale.name %></span>
                        <i class="icon ion-md-arrow-dropright"></i>
                      </label>
                    </p>
                  </li>
                  <div class="list-neighborhood-group hidden">
                    <% city_locale.neighborhood_groups.each do |neighborhood_group| %>
                      <ul class="neighborhood-group-item-block">
                        <li class="neighborhood-group-item collection-item">
                          <p>
                            <label class="neighborhood-group-name">
                              <span><%= neighborhood_group.name %></span>
                              <i class="icon ion-md-arrow-dropright"></i>
                            </label>
                          </p>
                        </li>
                        <div class="list-neighborhood hidden">
                          <ul>
                            <% neighborhood_group.neighborhoods.each do |neighborhood| %>
                              <li class="collection-item">
                                <p>
                                  <label>
                                    <%= check_box_tag "candidate_interest[neighborhoods][]", neighborhood.id, @candidate_interest.neighborhoods.include?(neighborhood.id) ? true : false, class: "with-gap" %>
                                    <span><%= neighborhood.name %></span>
                                  </label>
                                </p>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </ul>
                    <% end %>
                  </div>
                </ul>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_first_transition_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', :class => "waves-effect waves-light btn-large next-step #{@candidate_interest.cities.empty? ? 'disabled' : ''}", :onclick => "$('#candidate_first').submit()" %>
    </section>
  <% end %>
</section>