<section id="second_step" class="question-container content">
  <%= form_tag({controller: "interest", action: "third"}, method: "post", id: "candidate_second") do %>
    <section class="content-box validate-radio-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 35%"></div>
          </div>

          <h5 class="center-align section">O que você busca em uma empresa?</h5>
        </li>

        <% @company_size.each do |company| %>
          <li class="collection-item">
            <p>
              <label>
                <%= radio_button_tag "candidate_interest[company_sizes][]", company.id, @candidate_interest.company_sizes.include?(company.id) ? true : false, class: "with-gap validate" %>
                <span><%= company.name %></span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
      <p class="radio-error-message hide">Favor preencher algum dos campos</p> 
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_interest_step_1_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', :class => "waves-effect waves-light btn-large radio-validate", id: "validate-form-button", data: {with_radios: 'true'} %>
    </section>
  <% end %>
</section>