<section id="third_step" class="question-container content" data-min="1" data-max="5">
  <div class="max-option-notice">
    <p class="gray bold">Você já atingiu o número máximo de opções</p>
  </div>
  <%= form_tag({controller: "interest", action: "fourth"}, method: "post", id: "candidate_third") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress">
            <div class="determinate" style="width: 50%"></div>
          </div>
          <h5 class="center-align section">Quais são os 5 setores onde você tem maior interesse?</h5>
        </li>

        <% @sector.each do |sector| %>
          <li class="collection-item">
            <p>
              <label>
                <%= check_box_tag "candidate_interest[sectors][]", sector.id, @candidate_interest.sectors.include?(sector.id) ? true : false, class: "with-gap" %>
                  <span>
                    <%= sector.name %><br>
                    <strong><%= sector.description %></strong>
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_interest_step_2_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', :class => "waves-effect waves-light btn-large next-step #{@candidate_interest.sectors.empty? ? 'disabled' : ''}", :onclick => "$('#candidate_third').submit()" %>
    </section>
  <% end %>
</section>