<section id="complete_register" class="content">
  <section class="title">
    <h4 class="medium-gray bold main-title">
      As empresas certas<br>
      para sua carreira,<br>
      querem saber quem você é
    </h4>
  </section>

  <section class="content-box">
    <%= simple_form_for(@candidate, as: :candidate, url: candidate_registration_path(:candidate)) do |f| %>
      <%= f.text_field :name, placeholder: "NOME" %>

      <%= select_tag("candidate_interest[cities][]", options_from_collection_for_select(@cities, "id", "name"), prompt: 'CIDADE DE INTERESSE', include_blank: "Outros") %>

      <%= select_tag("candidate_interest[areas][]", options_from_collection_for_select(@areas, "id", "name"), prompt: 'ÁREA DE INTERESSE') %>

      <%= f.text_field :cellphone, placeholder: "CELULAR", class: "cellphone" %>

      <%= f.email_field :email, placeholder: "EMAIL" %>

      <%= f.text_field :cpf, placeholder: "CPF", value: session[:cpf], class: "cpf", minlength: 14, maxlength: 14 %>

      <%= f.password_field :password, placeholder: "SENHA", value: session[:password] %>

      <%= f.password_field :password_confirmation, placeholder: "CONFIRMAR SENHA" %>

      <div class="checkbox-box">
        <label>
          <%= check_box_tag "candidate[terms]", "", true, class: "filled-in" %>
          <span>Aceito os termos e condições da política de privacidade</span>
        </label>
      </div>

      <section class="complete-register-actions action-buttons-single">
        <%= link_to "CONTINUAR", 'javascript:void(0);', :class => 'waves-effect waves-light btn-default green-default bold', :onclick => "$('#new_candidate').submit()" %>
      </section>
    <% end %>
  </section>

</section>
