<section id="complete_register" class="content">
  <section class="title">
    <h4 class="medium-gray bold main-title">
      As empresas certas<br>
      para sua carreira,<br>
      querem saber quem você é
    </h4>
  </section>

  <section class="content-box">
    <%= simple_form_for(@candidate, as: :candidate, url: candidate_complete_register_path, defaults: {label: false}) do |f| %>
      <%= f.input :name, placeholder: "NOME" %>

      <%= select_tag("candidate_interest[cities][]", options_from_collection_for_select(@cities, "id", "name"), prompt: 'CIDADE DE INTERESSE', include_blank: "Outros") %>

      <%= select_tag("candidate_interest[areas][]", options_from_collection_for_select(@areas, "id", "name"), prompt: 'ÁREA DE INTERESSE') %>

      <%= f.input :cellphone, placeholder: "CELULAR", input_html: { class: "cellphone" } %>

      <%= f.input :email, placeholder: "EMAIL", input_html: {type: "email"}  %>

      <%= f.input :cpf, placeholder: "CPF", value: session[:cpf], input_html: { class: "cpf" }, minlength: 14, maxlength: 14 %>

      <%= f.input :password, placeholder: "SENHA", input_html: {value: session[:password]} %>

      <%= f.input :password_confirmation, placeholder: "CONFIRMAR SENHA" %>

      <div class="checkbox-box">
        <label>
          <%= check_box_tag "candidate[terms]", "", true, class: "filled-in" %>
          <span>Aceito os termos e condições da política de privacidade</span>
        </label>
      </div>

      <section class="complete-register-actions action-buttons-single">
        <%= link_to "CONTINUAR", 'javascript:void(0);', :class => 'waves-effect waves-light btn-default green-default bold', :onclick => "$('#new_candidate').submit()" %>
      </section>
    <% end %>
  </section>
</section>
