<section id="login_or_register" class="content">
  <div class="cloud-bg">
    <p class="bold medium-gray">
      Mercado de trabalho<br>
      na nuvem
    </p>
  </div>

  <%= form_tag({controller: "steps", action: "quick_details"}, method: "post", id: "login_or_register_form") do %>
    <section class="content-box">
        <%= text_field_tag :cpf, '', placeholder: "CPF", class: "cpf", minlength: 14, maxlength: 14 %>
        <%= password_field :password, '', placeholder: "SENHA" %>

      <%= link_to "RECUPERAR SENHA", "#{}" %>
    </section>

    <section class="login-or-register-actions action-buttons-duo">
      <%= link_to "SAIBA MAIS", candidate_user_login_path, :class => 'waves-effect waves-light btn-default gray-default bold' %>
      <%= link_to "CONTINUAR", 'javascript:void(0);', :class => 'waves-effect waves-light btn-default green-default bold', :onclick => "$('#login_or_register_form').submit()" %>
    </section>
  <% end %>
</section>