<section id="pre_register">
  <div class="box-shadow">
    <div class="slider">
    <div class="default-slider">
      <h5 class="bold">
        Sem esforço…
      </h5>

      <div class="slider-register-page-bg">
        <%= image_tag "register_bg.jpg" %>
      </div>

      <h5 class="bold">
        Esqueça anúncio de vagas e
        a busca tradicional 
        por empresas
      </h5>
    </div>

    <div class="default-slider">
      <h5 class="bold">
        No lugar certo…
      </h5>

      <div class="slider-register-page-bg">
        <%= image_tag "register_bg.jpg" %>
      </div>

      <h5 class="bold">
        Seja acessado somente por
        empresas do seu interesse
      </h5>
    </div>

    <div class="default-slider">
      <h5 class="bold">
        Alcance seu objetivo!
      </h5>

      <div class="slider-register-page-bg">
        <%= image_tag "register_bg.jpg" %>
      </div>

      <h5 class="bold">
        Maximize sua chance 
        de uma movimentação
        correta
      </h5>
    </div>
    </div>
  </div>

  <div class="pre-register-form-container">
    <%= form_tag({controller: "steps", action: "quick_details"}, method: "post", id: "pre_register_form") do %>
      <section class="content-box">
        <% if flash[:notice] %>
          <div id="notice-wrapper">
            <p class="notice"><%= notice %></p>
          </div>
        <% end %>

        <%= text_field_tag :email, '', placeholder: "EMAIL", input_html: {type: "email", required: true}  %>

        <%= password_field_tag :password, '', placeholder: "SENHA" %>
      </section>
    <% end %>

    <%= link_to "Começar", 'javascript:void(0);', :class => 'waves-effect waves-light btn-default green-default bold', :onclick => "$('#pre_register_form').submit()" %>
  </div>
</section>