<section id="second_step" class="question-container content" data-min="0" data-max="5">
  <div class="max-option-notice">
    <p class="gray bold">Limite máximo atingido</p>
  </div>
  <%= form_tag({controller: "about", action: "third"}, method: "post", id: "company_second") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress">
            <div class="determinate" style="width: 50%"></div>
          </div>
          <h5 class="center-align section">Qual é o principal setor da sua empresa?</h5>
        </li>

        <% @sector.each do |sector| %>
          <li class="collection-item">
            <p>
              <label>
                <%= check_box_tag "company_about[sectors][]", sector.id, @company_about.sectors.include?(sector.id) ? true : false, class: "with-gap" %>
                  <span>
                    <%= sector.name %><br>
                    <strong><%= sector.description %></strong>
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", company_about_step_1_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', :class => "waves-effect waves-light btn-large next-step #{@company_about.sectors.empty? ? 'disabled' : ''}", :onclick => "$('#company_second').submit()" %>
    </section>
  <% end %>
</section>