<section id="third_step" class="question-container content" data-min="0">
  <%= form_tag({controller: "about", action: "fourth"}, method: "post", id: "company_third") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 75%"></div>
          </div>

          <h5 class="center-align section">Qual é a reputação da sua empresa?</h5>
        </li>
        <% @mode.each do |mode| %>
          <li class="collection-item">
            <p>
              <label>
                <%= radio_button_tag "company_about[mode_id]", mode.id, @company_about.present? && @company_about.mode_id == mode.id ? true : false, class: "with-gap" %>
                  <span>
                    <%= mode.name %><br>
                    <strong><%= mode.description %></strong>
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", company_about_step_2_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', :class => "waves-effect waves-light btn-large next-step", :onclick => "$('#company_third').submit()" %>
    </section>
  <% end %>
</section>