<section id="first_step" class="question-container content">
  <%= form_tag({controller: "company", action: "second"}, method: "post", id: "candidate_first") do %>
    <section class="content-box">
      <ul class="collection with-header with-input">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 35%"></div>
          </div>

          <h5 class="center-align section">Quais foram as empresas mais relevantes em que você trabalhou?</h5>
        </li>
        
        <%= hidden_field_tag("current_items", {}, value: 1) %>
        <li class="collection-item">
          <%= text_field "candidate_company_0", 'name', placeholder: "Nome:" %>
          <select name="candidate_company_0[years]" id="" class="custom">
            <option value="1">6 MESES - 1 ANO DE EXPERIÊNCIA</option>
            <option value="2">1 ANO - 2 ANOS DE EXPERIÊNCIA</option>
            <option value="3">2 ANOS - 3 ANOS DE EXPERIÊNCIA</option>
            <option value="4">3 ANOS - 4 ANOS DE EXPERIÊNCIA</option>
            <option value="5">4 ANOS - 5 ANOS DE EXPERIÊNCIA</option>
            <option value="6">5 ANOS - 6 ANOS DE EXPERIÊNCIA</option>
          </select>
        </li>
        
        <div class="list-item-options">
          <button id="btn-minus" class="btn-options hide waves-effect waves-light btn-large grey">
            <i class="material-icons">remove_circle</i>
          </button>
          <button id="btn-plus" class="btn-options waves-effect waves-light btn-large grey">
            <i class="material-icons">add_circle </i>
          </button>
        </div>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_home_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_first').submit()" %>
    </section>
  <% end %>
</section>