<section id="first_step" class="question-container content">
  <%= form_tag({controller: "company", action: "second"}, method: "post", id: "candidate_first") do %>
    <section class="content-box">
      <ul class="collection with-header candidate-companies-form with-input">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 35%"></div>
          </div>

          <h5 class="center-align section">Quais foram as empresas mais relevantes em que você trabalhou?</h5>
        </li>
        
        <% @companies.each do |company| %>
          <%= hidden_field_tag("candidate_companies[][id]", {}, value: company.id) %>
          <%= fields_for 'candidate_companies[]', company do |co| %>
            <li class="collection-item candidate-company-item">
              <%= co.text_field :name, placeholder: "NOME:", name: "candidate_companies[][name]" %>
              <%= co.text_field :start_date, placeholder: "INÍCIO: MM/YYYY", name: "candidate_companies[][start_date]", class: "month_year", value: company.start_date.present? ? company.start_date.strftime("%m/%Y") : "" %>
              <%= co.text_field :end_date, placeholder: "FIM: MM/YYYY", name: "candidate_companies[][end_date]", class: "month_year", value: company.end_date.present? ? company.end_date.strftime("%m/%Y") : "" %>
            </li>
          <% end %>
        <% end %>
        
        <div class="list-item-options">
          <button id="btn-minus" class="btn-options <%= @companies.count == 1 ? 'hide' : '' %> waves-effect waves-light btn-large grey">
            <i class="material-icons">remove_circle</i>
          </button>
          <button id="btn-plus" class="btn-options waves-effect waves-light btn-large grey">
            <i class="material-icons">add_circle </i>
          </button>
        </div>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_home_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_first').submit()" %>
    </section>
  <% end %>
</section>