<section id="second_step" class="question-container content">
  <%#= form_tag({controller: "experience", action: "third"}, method: "post", id: "candidate_second") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 65%"></div>
          </div>

          <h5 class="center-align section">Quais foram as empresas mais relevantes em que você trabalhou?</h5>
        </li>

        <%# @title_list.each do |title_list| %>
          <li class="collection-item with-select-full">
            <p>
              <label>
                <span>Nome da Empresa de acordo com a empresa citada anteriormente</span>
              </label>
            </p>
          
            <%= select_tag 'size', options_for_select(@size.collect{ |company| [company.name, company.id] }), :class => "full" %>
            <%= select_tag 'sector', options_for_select(@sector.collect{ |sector| [sector.name, sector.id] }), :class => "full" %>
            <%= select_tag 'profile', options_for_select(@profile.collect{ |profile| [profile.name, profile.id] }), :class => "full" %>

          </li>
        <%# end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_company_step_1_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", candidate_hability_step_1_path, :class => "waves-effect waves-light btn-large" %>
    </section>
  <%# end %>
</section>