<section id="second_step" class="question-container content">
  <%= form_tag({controller: "company", action: "third"}, method: "post", id: "candidate_second") do %>
    <section class="content-box">
      <ul class="collection with-header candidate-companies-form with-input">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 30%"></div>
          </div>

          <h5 class="center-align section">Quais foram as empresas mais relevantes em que você trabalhou?</h5>
        </li>
        
        <% @companies.each do |company| %>
          <%= hidden_field_tag("candidate_companies[][id]", {}, value: company.id) %>
          <%= fields_for 'candidate_companies[]', company do |co| %>

            <li class="collection-item candidate-company-item">
              <div class="candidate-company-name">
                <%= label_tag 'candidate_companies_5_name', 'Nome da empresa' %>
                <%= co.text_field :name, name: "candidate_companies[][name]", class: "candidate-company-name validate", value: company.name.present? ? company.name : @current_company.name %>
                <p class="error-message hide">Obrigatório</p>
              </div>
              
              <div class="responsive-container validate validate-date">
                <div class="candidate-company-date start_date">
                  <%= label_tag 'candidate_companies_5_start_date', 'Data de início' %>
                  <div class="two-items">
                    <%= co.select :start_date_month, @months, { include_blank: "MÊS" }, { name: "candidate_companies[][start_date_month]", class: "start_date_month" } %>
                    <%= co.select :start_date_year, @years, { include_blank: "ANO" }, { name: "candidate_companies[][start_date_year]", class: "start_date_year" } %>
                  </div>
                  <p class="error-message hide">Obrigatório</p>
                </div>

                <div class="candidate-company-date end_date">
                  <%= label_tag 'candidate_companies_5_end_date', 'Data de fim' %>
                  <div class="two-items">
                    <%= co.select :end_date_month, @months, { include_blank: "MÊS" }, { name: "candidate_companies[][end_date_month]", class: "end_date_month" } %>
                    <%= co.select :end_date_year, @years, { include_blank: "ANO" }, { name: "candidate_companies[][end_date_year]", class: "end_date_year" } %>
                  </div>
                  <p class="error-message hide">Obrigatório</p>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
        
        <div class="list-item-options">
          <button id="btn-minus" class="btn-options <%= @companies.count == 1 ? 'hide' : '' %> waves-effect waves-light btn-large grey">
            <i class="material-icons">remove_circle</i>
          </button>
          <button id="btn-plus" class="btn-options waves-effect waves-light btn-large grey">
            <i class="material-icons">add_circle </i>
          </button>
        </div>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_company_step_1_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", id: "validate-form-button" %>
    </section>
  <% end %>
</section>