<%= simple_form_for [:admin, @area] , html: {class: 'form'} do |f| %>

  <section class='fields-wrapper one-column'>
    <header>
      <h2><%= "#{@area.persisted? ? 'Editar' : 'Criar'} Ãrea" %></h2>
    </header>
    
    <article>
      <%= f.input :name, wrapper_html: {class: 'col-12' } %>
    </article>
  </section>
  <footer>
    <%= cancel_action(path: admin_areas_path) %>
    <%= submit_button f %>
  </footer>
<% end %>
