<section id="first_step" class="question-container content pretension-step">
  <%= form_tag({controller: "pretension", action: "second"}, method: "post", id: "candidate_first") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 60%"></div>
          </div>

          <h5 class="center-align section">Informe sua última remuneração</h5>
        </li>

        <li class="collection-item pretension-calc-item">
          <p class="half-label">
            <label>
              <span>
                SALÁRIO FIXO MENSAL
              </span>
            </label>
          </p>
          
          <div class="box-with-error">
            <%= text_field "candidate_pretension", "last_monthly_salary", placeholder: "R$:", class: "half-input money validate", value: @candidate_pretension.present? ? number_to_currency(@candidate_pretension.last_monthly_salary, precision: 0) : "" %>

            <p class="error-message hide">Obrigatório</p>
          </div>
        </li>
        
        <li class="collection-item pretension-calc-item">
          <p class="half-label">
            <label>
              <span>
                MODELO DE CONTRATAÇÃO
              </span>
            </label>
          </p>
          
          <div class="box-with-error">
            <%= select_tag 'candidate_pretension[nofsalaries]', options_for_select(@salary_list.collect{ |salary| [salary.name, salary.value] }, selected: @candidate_pretension.present? ? @candidate_pretension.nofsalaries : false ), :class => "validate", :include_blank => true %>

            <p class="error-message hide">Obrigatório</p>
          </div>
        </li>

        <li class="collection-item pretension-calc-item">
          <p class="half-label">
            <label>
              <span>
                VARIÁVEL ANUAL
              </span>
            </label>
          </p>
          
          <div class="box-with-error">
            <%= text_field "candidate_pretension", "variable", placeholder: "R$:", class: "half-input money validate", value: @candidate_pretension.present? ? number_to_currency(@candidate_pretension.variable, precision: 0) : "" %>

            <p class="error-message hide">Obrigatório</p>
          </div>
        </li>

        <li class="collection-item pretension-calc-result">
          <p>
            <label>
              <span class="light-green-text">
                TOTAL ANUAL
              </span>
            </label>
          </p>
          
          <%= text_field "candidate_pretension", "last_salary_total", placeholder: "R$:", class: "half-input", value: @candidate_pretension.present? ? number_to_currency(@candidate_pretension.last_salary_total, precision: 0) : "" ,readonly: true %>
        </li>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_education_step_2_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", id: "validate-form-button" %>
    </section>
  <% end %>
</section>