<section id="third_step" class="question-container content pretension-step">
  <%= form_tag({controller: "pretension", action: "complete"}, method: "post", id: "candidate_third") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 95%"></div>
          </div>

          <h5 class="center-align section">Sua pretensão salarial para uma nova posição</h5>
        </li>
        
        <li class="collection-item pretension-calc-item">
          <p class="half-label">
            <label>
              <span class="light-green-text">
                ÚLTIMO TOTAL ANUAL
              </span>
            </label>
          </p>

          <%= text_field "candidate_pretension", "last_salary_total", placeholder: "R$:", class: "half-input black", value: number_to_currency(@candidate_pretension.last_salary_total, precision: 0), id: "last_salary_total", readonly: true %>
        </li>
        
        <li class="collection-item pretension-calc-item">
          <p class="half-label">
            <label>
              <span>
                PRETENSÃO
              </span>
            </label>
          </p>
        
          <%= select_tag 'candidate_pretension[pretension_minimum_percent]', options_for_select(@claim.collect{ |claim| [claim.name, claim.value] }), class: "custom", id: "claim_list", :include_blank => true %>
        </li>
        
        <h5 class="center-align section">Valores mínimos pretendidos</h5>

        <div class="pretension-container">
          <li class="collection-item pretension-calc-item">
            <p class="half-label">
              <label>
                <span class="light-green-text">
                  TOTAL ANUAL
                </span>
              </label>
            </p>

            <%= text_field "candidate_pretension", "pretension_yearly_total", placeholder: "R$:", class: "half-input black", value: number_to_currency(@candidate_pretension.pretension_yearly_total, precision: 0), id: "pretension_yearly_total", readonly: true %>
          </li>

          <li class="collection-item">
            <p class="half-label">
              <label>
                <span class="light-green-text">
                  SALÁRIO FIXO MENSAL
                </span>
              </label>
            </p>

            <%= text_field "candidate_pretension", "minimum_claim", placeholder: "R$:", class: "half-input money", value: number_to_currency(@candidate_pretension.minimum_claim, precision: 0), id: "minimum_claim"%>
          </li>
        </div>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_pretension_step_2_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_third').submit()" %>
    </section>
  <% end %>
</section>