<section id="third_step" class="question-container content pretension-step">
  <%= form_tag({controller: "pretension", action: "complete"}, method: "post", id: "candidate_third") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 95%"></div>
          </div>

          <h5 class="center-align section">Qual seria sua pretensão salarial pensando em uma nova posição?</h5>
        </li>
        
        <li class="collection-item pretension-calc-item">
          <p>
            <label>
              <span>
                TOTAL ANUAL
              </span>
            </label>
          </p>

          <%= text_field "candidate_pretension", "last_salary_total", placeholder: "R$:", class: "half-input", value: @candidate_pretension.last_salary_total %>
        </li>
        
        <li class="collection-item pretension-calc-item">
          <p>
            <label>
              <span>
                PRETENSÃO MÍNIMA
              </span>
            </label>
          </p>
        
          <%= select_tag 'claim_list', options_for_select(@claim.collect{ |claim| [claim.name, claim.id] }), :class => "custom" %>
        </li>

        <li class="collection-item pretension-calc-item">
          <p>
            <label>
              <span>
                TOTAL ANUAL PRETENDIDO
              </span>
            </label>
          </p>

          <input type="text" placeholder="R$:" class="half-input">
        </li>

        <li class="collection-item fixed-minimum-pretension">
          <p>
            <label>
              <span>
                FIXO MÍNIMO PARA AVALIAR 
                NOVAS OPORTUNIDADES
              </span>
            </label>
          </p>
          
          <div class="collection-item pretension-calc-item">
            <p>
              <label>
                <span>
                  PRETENSÃO MÍNIMA
                </span>
              </label>
            </p>

            <%= select_tag 'claim_list', options_for_select(@claim.collect{ |claim| [claim.name, claim.id] }), :class => "custom" %>
          </div>
        </li>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_pretension_step_2_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", onclick: "$('#candidate_third').submit()" %>
    </section>
  <% end %>
</section>