<%= simple_form_for [:admin, @state, @city, @neighborhood] , html: {class: 'form'} do |f| %>

  <section class='fields-wrapper one-column'>
    <header>
      <h2><%= "#{@neighborhood.persisted? ? 'Editar' : 'Criar'} Bairro" %></h2>
    </header>
    
    <article>
      <%= f.input :name, wrapper_html: {class: 'col-12' } %>
    </article>
  </section>
  <footer>
    <%= cancel_action(path: admin_state_city_neighborhoods_path(@state, @city)) %>
    <%= submit_button f %>
  </footer>
<% end %>
