<!-- params of partial: {style: :with_logo_back_button, back_button: false} -->

<% if options[:style] == :with_logo %>  
  <!-- Default Header -->
  <section class="not-logged-in-header content">
    <div class="top">
      <% if current_candidate %>
        <%= link_to candidate_home_path do %>
          <%= image_tag 'wingle-title.svg', :class => "wingle-title" %>
        <% end %>
      <% elsif current_company %>
        <%= link_to company_home_path do %>
          <%= image_tag 'wingle-title.svg', :class => "wingle-title" %>
        <% end %>
      <% else %>
        <%= image_tag 'wingle-title.svg', :class => "wingle-title without-link" %>
      <% end %>
      <%= image_tag 'wingle-logo.svg' %>
    </div>  
  </section>

<% elsif options[:style] == :with_logo_back_button %>
  <!-- Steps With Back Buton -->
  <section class="questions-header content">
    <div class="left-box">
      <%if options[:back_button].nil? || options[:back_button] %>
        <%= link_to :back do %>
          <i class="icon ion-md-arrow-round-back"></i> 
        <% end %>
      <% end %>
    </div>

    <div class="logo-title-box">
      <% if current_candidate %>
        <%= link_to candidate_home_path do %>
          <%= image_tag 'wingle-title.svg', :class => "wingle-title" %>
        <% end %>
      <% elsif current_company %>
        <%= link_to company_home_path do %>
          <%= image_tag 'wingle-title.svg', :class => "wingle-title" %>
        <% end %>
      <% else %>
        <%= image_tag 'wingle-title.svg', :class => "wingle-title without-link" %>
      <% end %>
    </div>  
  </section>

<% elsif options[:style] == :dashboard_header %>
  <!-- Dashboard -->
  <section class="dashboard-header">
    <section class="header-top">
      <div class="left-box">
        <%= link_to candidate_home_path do %>
          <%= image_tag 'logo.svg', :class => "wingle-title" %>
        <% end %>
        <!-- <i class="icon ion-md-menu"></i>  -->
      </div>

      <nav class="top-menu">
        <ul>
          <li class="schedule">
            <%#= image_tag 'icons/schedule.svg' %>
            <%= link_to "Interesses e Experiências", candidate_interest_step_1_path %>            
          </li>

          <li class="company">
            <%#= image_tag 'icons/company.svg' %>
            <%= link_to "Empresas e Habilidades", candidate_company_step_1_path %>

            <% if @candidate.companies? || @candidate.habilities? %>
              <div class="next-step-alert-box first">

              </div>
            <% end %>
          </li>

          <li class="shield">
            <%#= image_tag 'icons/shield.svg' %>
            <%= link_to "Educação e Pretensão", candidate_education_step_1_path %>

            <% if @candidate.education? || @candidate.pretension? %>
              <div class="next-step-alert-box second">

              </div>
            <% end %>
          </li>
        </ul>
      </nav>
      
      <div class="profile-container">
        <div class="profile-box">
          <%= candidate_avatar(current_candidate, :thumb)%>
        </div>

        <div class="profile-options hidden">
          <ul>
            <li>
              <%= link_to candidate_profile_path do %>
                <div class="icon-box">
                  <%= image_tag 'icons/company_white.svg' %>
                  <!-- <i class="material-icons">settings</i> -->
                </div>

                <p>Perfil</p>
              <% end %>
            </li>

            <li>
              <%= link_to destroy_candidate_session_path, method: :delete, data: {confirm: 'Deseja sair?'} do %>
                <!-- SIGNOUT LINK -->
                <div class="icon-box">
                  <%= image_tag 'icons/logout.svg' %>
                </div>

                <p>Sair</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <section class="responsive-dashboard-header">
    <div class="logo-box">
      <%= link_to candidate_home_path do %>
        <%= image_tag 'logo.svg', :class => "wingle-title" %>
      <% end %>
    </div>
  </section>

<% elsif options[:style] == :company_full_header %>
  <!-- Dashboard -->
  <section class="full-header">
    <section class="header-top">
      <div class="left-box">
        <i class="material-icons">menu</i>
      </div>

      <div class="center-box">
        <%= image_tag 'wingle-title.svg', :class => "wingle-title" %>
      </div>
      
      <div class="profile-container">
        <div class="profile-box">
          <div class="profile-image-box">
            <%= image_tag "icons/company.svg", class: "without_image" %>
          </div>
        </div>

        <div class="profile-options hidden">
          <ul>
            <li>
              <%= link_to company_profile_path do %>
                <div class="icon-box">
                  <%= image_tag 'icons/company_white.svg' %>
                  <!-- <i class="material-icons">settings</i> -->
                </div>

                <p>Perfil</p>
              <% end %>
            </li>

            <li>
              <%= link_to destroy_company_session_path, method: :delete, data: {confirm: 'Deseja sair?'} do %>
                <!-- SIGNOUT LINK -->
                <div class="icon-box">
                  <%= image_tag 'icons/logout.svg' %>
                </div>

                <p>Sair</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="menu" class="side-menu">
      <div class="close-menu-area hidden"></div>
      
      <div class="company-responsive-profile-box">
        <div class="profile-container">
          <div class="profile-box">
            <div class="profile-image-box">
              <%= image_tag "icons/company.svg", class: "without_image" %>
            </div>
          </div>
        </div>

        <div class="profile-actions">
          <i class="material-icons close-responsive-side-menu">clear</i>

          <%= link_to "Minha conta", company_profile_path %>
        </div>
      </div>

      <nav>
        <div class="candidates-interested">
          <%= link_to "#" do %>
            <i class="material-icons">grade</i>
            <p class="bold">Ver Interessados</p>
          <% end %>
        </div>

        <div class="find-step-process">
          <i class="material-icons">search</i>
          <%= text_field_tag 'search_step_process', "", class: 'form-control', placeholder: 'Buscar...' %>
        </div>

        <ul>
          <li>
            <%= link_to "Em processo (23)", company_selective_process_path %>
          </li>

          <li>
            <%= link_to "Aprovados (12)", company_selective_process_path %>
          </li>

          <li>
            <%= link_to "Eliminados (6)", company_selective_process_path %>
          </li>

          <li>
            <%= link_to "Arquivados (0)", company_selective_process_path %>
          </li>
        </ul>

        <div class="company-logout">
          <%= link_to "Sair", destroy_company_session_path, method: :delete, data: {confirm: 'Deseja sair?'} %>
        </div>
      </nav>
    </section>
  </section>
<% end %>