<!-- params of partial: {style: :with_logo_back_button, back_button: false} -->

<% if options[:style] == :with_logo %>  
  <!-- Default Header -->
  <section class="not-logged-in-header content">
    <div class="top">
      <%= image_tag 'wingle-title.svg', :class => "wingle-title" %>
      <%= image_tag 'wingle-logo.svg' %>
    </div>  
  </section>

<% elsif options[:style] == :with_logo_back_button %>
  <!-- Steps With Back Buton -->
  <section class="questions-header content">
    <div class="left-box">
      <%if options[:back_button].nil? || options[:back_button] %>
        <%= link_to :back do %>
          <i class="icon ion-md-arrow-round-back"></i> 
        <% end %>
      <% end %>
    </div>

    <div class="logo-title-box">
      <%= image_tag 'wingle-title.svg' %>
    </div>  
  </section>
<% elsif options[:style] == :dashboard_header %>
  <!-- Dashboard -->
  <section class="dashboard-header">
    <section class="header-top">
      <div class="left-box">
        <%= image_tag 'wingle-title.svg', :class => "wingle-title" %>
        <!-- <i class="icon ion-md-menu"></i>  -->
      </div>

      <nav class="top-menu">
        <ul>
          <li class="schedule">
            <%#= image_tag 'icons/schedule.svg' %>
            <%= link_to "Interesses e Experiências", candidate_experience_step_1_path %>            
          </li>

          <li class="company">
            <%#= image_tag 'icons/company.svg' %>
            <%= link_to "Empresas e Habilidades", candidate_company_step_1_path %>
          </li>

          <li class="shield">
            <%#= image_tag 'icons/shield.svg' %>
            <%= link_to "Educação e Pretensão", "#{}" %>
          </li>
        </ul>
      </nav>
      
      <div class="profile-container">
        <div class="profile-box">
          <%= image_tag 'wingle-logo.svg' %>
        </div>

        <div class="profile-options hidden">
          <ul>
            <li>
              <%= link_to "#{}" do %>
                <div class="icon-box">
                  <i class="material-icons">settings</i>
                </div>

                <p>Configurações</p>
              <% end %>
            </li>

            <li>
              <%= link_to destroy_candidate_session_path, method: :delete, confirm: 'Deseja sair?' do %>
                <!-- SIGNOUT LINK -->
                <div class="icon-box">
                  <%= image_tag 'icons/logout.svg' %>
                </div>

                <p>Sair</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
<% end %>