<%= simple_form_for [:admin, @term] , html: {class: 'form'} do |f| %>

  <section class='fields-wrapper one-column'>
    <header>
      <h2><%= "#{@term.persisted? ? 'Editar' : 'Criar'} Termo de Uso" %></h2>
    </header>

    <article>
      <%= f.input :title, wrapper_html: {class: 'col-12' }, disabled: !@term.draft? %>
    </article>

    <article>
      <%= f.input :for, wrapper_html: {class: 'col-6' }, disabled: @term.persisted? %>
    </article>

    <article>
      <%= f.input :term, wrapper_html: {class: 'col-18' }, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
    </article>
  </section>

  <% if @term.persisted? && @term.draft? %>
    <section class='fields-wrapper one-column'>
      <header>
        <h2><%= "Publique Este termo de uso" %></h2>
      </header>

      <article>
        <div class="input col-12">
          <label class="string" for="publish_term">Publicar</label>
          <%= check_box_tag(:publish_term) %>
        </div>
      </article>
    </section>
  <% end %>

  <footer>
    <%= cancel_action(path: admin_terms_path) %>
    <%= submit_button f if @term.draft? %>
  </footer>
<% end %>
