<!DOCTYPE html>
<html>
  <head>
    <title>Wingle</title>
    <meta charset="UTF-8">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <%= csrf_meta_tags %>
    <!-- STYLESHEETS -->
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <!-- JAVASCRIPTS -->
    <%= javascript_include_tag 'application'%>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
  </head>

  <body>
    <header>
      <%= render :partial => "layouts/header/header", locals: {options: @header_options.present? ? @header_options : {style: :with_logo} } %>
    </header>

    <main class="site-content">
      <%= render :partial => "layouts/menu/desktop", locals: {options: @menu_options.present? ? @menu_options : {style: :none} } %>
      <%= yield %>
    </main>

    <footer>
      <%#= render :partial => "layouts/footer" if current_candidate || current_company %>
      <%= render :partial => "layouts/footer", locals: {options: @tab_bar.present? ? @tab_bar : {style: :none} } %>
    </footer>
  </body>
</html>
